<h1><%= @user.username %>'s Profile</h1><hr>
<h2>Goals</h2>
<ul>
<% @user.goals.each do |goal| %>
<li> <a href="<%= goal_url(goal) %>"><%= goal.body %></a></li>

<% end %>
</ul>
<hr>
<a href="<%= new_goal_url %>">New Goal</a>
