<h1><%= @user.username %>'s Profile</h1><hr>
<h2>Goals</h2>
<ul>
<% @user.goals.each do |goal| %>
<% unless goal.private && current_user.try(:id) != goal.user_id %>
  <li> <a href="<%= goal_url(goal) %>"><%= goal.body %></a></li>
<% end %>
<% end %>
</ul>
<hr>
<a href="<%= new_goal_url %>">New Goal</a>
