Edit Goal
<form action="<%= goal_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">
<label>Body
<input type="text" name="goal[body]" value="<%= @goal.body %>">
</label>


<button>Update</button>
</form>
