<%= @goal.body %><br>
<% if @goal.completed %>
<li>Completed</li>
<br>
<% end %>
<a href=<%= edit_goal_url(@goal.id) %>>Edit</a>

<form action="<%= goal_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
